
*{
    box-sizing: border-box;
}

/* Reset page */
html, body {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}




.content {
 display: grid;
  grid-template-columns: 200px auto;
  
}

#root {
display: grid
;
    grid-template-rows: auto 1fr auto;
    min-height: inherit;
}


/* Header */
.app_header {
  margin-top:0;
  padding: 1em;
  border-bottom: 5px solid #8B3C46;
  background-color: #E7C0BC;
  text-align: center;
  color: #8B3C46;
}




/*Book list area*/
.book_group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 2em 2em 4em;
}

    
footer {
  align-self: flex-end;
  background: #E7C0BC;
  color: #fff;
  padding: 1em;
  width: 100%;
  display: fixed;

}

footer p {
    display: block;
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}