/* Book form */
button, 
input[type="text"],
input[type="search"],
input[type="number"],
input[type="password"] {
  appearance: none;
  background: transparent;
  border: none;
  font: inherit;
  padding: 0;
  width: auto;
}

input[type="text"],
input[type="search"],
input[type="number"],
input[type="password"] {
  padding: 0.5em 1em;
  border: 1px solid #e34A35;
  

  &:focus {
    outline: none;
  }
}


.book-modal{
  background-color: #fef4f0;
  border-radius: 20px;
  border: 2px solid #e34A35;

}

.book-modal h2{
    text-align: center;
    color: #e34A35;
    font-weight: bold;
}


.form-container{
    padding: 0 2em;
}

.form-container > form{
    padding: 2em;
}

.form-container .form-control label {
    display: inline-block;
    width: 10em;
}


.form-container .form-control {
    margin: 1em 0;
}


input{
    padding: .5em 1em;
    border: 1px solid;
}

label{
    display: inline-block;
    width: 10em;
}



.save_button {
    display: inline-block;
    padding: .5em 1.5em;
    text-transform: uppercase;
    background: #e34A35;
    color: #fff;
     margin-left: 10em;
     border-radius: 10px;
     margin-right: 20px;
}



/* new buttom  */
.book-header {
    font-size: 40px;
    font-weight: 500;
    font-weight: bold;
    color: #e34A35;
    width: 200px;
    height: 300px;
    background: #fef4f0;
    cursor: pointer;
    border: 3px solid #e34A35;
    border-radius: 10px;
    align-items: center;
  justify-content: space-between; 
}



dialog::backdrop {
    background: #00000080;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}


/*Book cards*/
.book-card {
  background: #fff;
    position: relative;
    width: 200px;
    height: 300px;
    padding: .4rem;
    border: 1px solid #3a4660;
}

.book-card:hover {
  transform: translateY(-3px);
}

.book-image {
width: 100%; 
}

.book-placeholder {
position: relative;
    width: 200px;
    height: 300px;
    padding: .4rem;
    border: 1px solid #3a4660;
}

.no-books {
  text-align: center;
  font-style: italic;
  color: #777;
}


